xsdTemplate.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- simple types -->
    <xs:simpleType name="bool">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <xs:simpleType name="integer">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="LuaVariable" />
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:integer" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="number">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="LuaVariable" />
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:decimal" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="string">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="LuaVariable">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[a-zA-Z_][0-9a-zA-Z_]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MapArrowType">
        <!-- this type is no longer in use and not declared, but still used in the docs -->
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
